.register {
    max-width: 342px;
    align-items: center;
    margin: 0 auto;

    .heading {
        margin-top: 84px;
        h1 {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 28px;
            text-align: center;
            line-height: 38px;
        }
        p {
            font-family: "Helvetica Neue";
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #939393;
            text-align: center;
        }
    }
    .form {
        margin: 24px;
        form {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            max-width: 342px;
            div{
                width: 100%;
            }
            input {
                margin: 0 auto;
               width: 100%;
                height: 48px;
                border-radius: 10px;
                border: 1px solid #e4e4e4;
                padding: 10px, 14px, 10px, 14px;
                gap: 38px;
            }
            button {
                margin: 0 auto;
                width: 100%;
                height: 50px;
                border-radius: 12px;
            }
        }
    }
}
