.questions {
    max-width: 342px;
    align-items: center;
    margin: 0 auto;

    .heading {
        margin-top: 84px;
        h1 {
            font-family: "Helvetica Neue";
            font-weight: 500;
            font-size: 28px;
            text-align: center;
            line-height: 38px;
        }
    }
}
